

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sistema Integral de Auditoría</title>
    <link rel="stylesheet" href="/SIA/juridico/public/css/main.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <div class="col-xs-12"></div>
                <div class="col-xs-2"><a href="/SIA/"><img src="/SIA/juridico/public/img/logo-top.png"/></a></div>
                <div class="col-xs-2">
                    <ul class="nav navbar-nav">
                        <li><a href="#" id="CuentaPublica"><i class="fa fa-th-list"></i>
                                {{ sesiones.sCuentaActual }}
                            </a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h2 id="tipo">Dashboard</h2>
                </div>
                <div class="col-xs-2">
                    <ul class="nav navbar-nav">
                        <li><a href="./notificaciones"><i class="fa fa-envelope-o"></i> Tiene <span>
                  <input id="txtNoti" type="text" class="noti"/></span> Mensaje(s).</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown pull-right"><a data-toggle="dropdown" href="/SIA/" class="dropdown-toggle"><i class="fa fa-user"></i><b id="usuario">{{sesiones.sUsuario}}</b><b class="caret"></b></a></li>
                        <ul class="dropdown-menu">
                            <li><a href="/perfil"><i class="fa fa-user"></i> Perfil</a></li>
                            <li><a href="/cerrar"><i class="fa fa-sign-out"></i> Salir</a></li>
                        </ul>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
</header>

<div class="sidebar">
    <div class="buttonHide">
        <p><i class="fa fa-arrow-circle-left"></i></p>
    </div>
    <div class="sidebar-dropdown"><a href="/">Navigation</a></div>
    <ul id="nav">
        <li class="has_sub"><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
        <li id="GESTION" style="display:none;" class="has_sub"><a href=""><i class="fa fa-pencil-square-o"></i> Gestión<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="GESTION-UL"></ul>
        </li>
        <li id="PROGRAMA" style="display:none;" class="has_sub"><a href=""><i class="fa fa-bars"></i> Programas<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="PROGRAMA-UL"></ul>
        </li>
        <li id="AUDITORIA" style="display:none;" class="has_sub"><a href=""><i class="fa fa-search"></i> Auditorías<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="AUDITORIA-UL"></ul>
        </li>
        <li id="OBSERVACIONES" style="display:none;" class="has_sub"><a href=""><i class="fa fa-cogs"></i> Acciones<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="OBSERVACIONES-UL"></ul>
        </li>
        <li id="CONFIGURACION" style="display:block;" class="has_sub"><a href="#!"><i class="fa fa-pencil-square-o"></i> Catálogos<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>

        </li>
        <li id="REPORTEADOR" style="display:none;" class="has_sub"><a href=""><i class="fa fa-file-text-o"></i> Informes<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="REPORTEADOR-UL"></ul>
        </li>
        <li id="NORMATIVIDAD" style="display:none;" class="has_sub"><a href=""><i class="fa fa-pencil-square-o"></i> Normatividad<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
            <ul id="NORMATIVIDAD-UL"></ul>
        </li>
        <li class="has_sub"><a href="/cerrar"><i class="fa fa-sign-out"></i> Salir</a></li>
    </ul>
</div>

<div class="row">
    <div id="tableLarge" class="col-md-9 col-md-offset-2">
        <div class="widget">
            <div class="widget-head">
                <div id="headerText" class="pull-left">Lista de Registros
                    <div class="order"></div>
                    <div class="selectColumns"></div>
                </div>
                <div class="widget-icons pull-right"><a id="addRegister" href="/SIA/juridico/VolantesDiversos/add" class="btn btn-info">Añadir Registro</a></div>
                <div class="clearfix"></div>
            </div>
            <div id="main-content" class="widget-content">

                <table class="table highlight">
                    <tr>
                        <th>id</th>
                        <th>Folio</th>
                        <th>Sub Folio</th>
                        <th>Numero de Documento</th>
                        <th>Remitente</th>
                        <th>Turnado</th>
                        <th>Fecha Recepcio</th>
                        <th>Extemporaneo</th>
                        <th>Documento</th>
                        <th>Estado</th>
                        <th>Estatus</th>
                    </tr>
                    {% for volante in volantes %}
                        <tr>

                            <td>{{ volante.idVolante }}</td>
                            <td>{{ volante.folio }}</td>
                            <td>{{ volante.subfolio }}</td>
                            <td>{{ volante.numDocumento }}</td>
                            <td>{{ volante.idRemitente }}</td>
                            <td>{{ volante.idTurnado }}</td>
                            <td>{{ volante.fRecepcion }}</td>
                            <td>{{ volante.extemporaneo }}</td>
                            <td>{{ volante.nombre }}</td>
                            <td>{{ volante.estadoProceso }}</td>
                            <td>{{ volante.estatus }}</td>

                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>



</body>
</html>










